@use '../util' as utl;
@import '../globals/mixins';

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: var(--f-body-m);
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.7;
  color: var(--hue-neutral);
}

a {
  text-decoration: none;
  color: var(--hue-accent-bright);
  transition: 150ms ease-in-out;
  transition-property: color, background-color;

  &:hover {
    color: var(--hue-accent-pale);
  }
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: utl.rem(31.5);
  background: none;
  border: none;
  padding: clamp(utl.rem(10), 5vw, utl.rem(14)) clamp(utl.rem(24), 5vw, utl.rem(32));
  cursor: pointer
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

p {
  word-break: keep-all;
}

.container {
  margin-inline: auto;
  width: min(utl.rem(1110), calc(100% - utl.rem(32)));

  @include breakpoint-up(medium) {
    & {
      width: min(utl.rem(690), calc(100% - utl.rem(32)));
    }
  }

  @include breakpoint-up(large) {
    & {
      width: min(utl.rem(1110), calc(100% - utl.rem(32)));
    }
  }
}

.logo {
  width: utl.rem(90);

  @media (width >= 1110) {
    width: utl.rem(114);
  }
}
